.find-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: $main-border;

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
      margin-bottom: 15px;
      font-size: 30px;
    }
  }
}

.recommended-friends {
  &__title {
    font-size: 14px;
  }
}