#chat-screen {
  background-color: #abc1d1 !important;

  height: 1000vh;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;

  .chat__timestamp {
    padding: 8px 15px;
    margin-bottom: 25px;
    background-color: #92a4b2;
    color: #fff;
    border-radius: 25px;
    font-size: 14px;
  }

  .message-row {
    display: flex;
    width: 100%;
    margin-bottom: 25px;

    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-radius: 50%;
      object-fit: cover;
    }

    &__content {
      .message__author {
        display: block;
        margin-bottom: 6px;
        font-size: 13px;
        opacity: 0.8;
      }

      .message__info {
        display: flex;
        align-items: flex-end;

        .message__bubble {
          padding: 12px;
          margin-right: 5px;
          background-color: #fff;
          border-radius: 15px;
          border-top-left-radius: 0;
          font-size: 18px;
        }

        .message__time {
          font-size: 12px;
          opacity: 0.8;
        }
      }
    }


  }

  .message-row--own {
    justify-content: flex-end;

    .message__info {
      flex-direction: row-reverse;

      .message__bubble {
        margin-left: 5px;
        margin-right: 0;
        background-color: $yellow;
        border-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 0;
        font-size: 18px;
      }
    }

  }
}

.reply {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 10px;
  background-color: #fff;

  i {
    opacity: 0.6;
  }

  &__column {
    &:first-child {
      width: 6%;
    }

    &:last-child {
      display: flex;
      align-items: center;
      position: relative;
      width: 94%;

      input {
        width: 100%;
        height: 30px;
        padding: 10px;
        border: $main-border;
        border-radius: 30px;
        box-sizing: border-box;
      }

      &>i,
      button {
        position: absolute;
        right: 0;

      }

      &>i {
        right: 40px;
        cursor: pointer;
      }

      button {
        width: 30px;
        height: 30px;
        border: 0;
        background-color: $yellow;
        border-radius: 50%;
        cursor: pointer;

        i {
          opacity: 1;
        }
      }
    }



  }
}