.friends-display-link {
  margin-top: 110px;
  padding: 10px 20px;
  display: block;
  text-align: center;
  background-color: #fafafa;
  font-size: 18px;

  i {
    color: rgba(0, 0, 0, .3);
  }
}

.friends-screen {
  padding: $horizontal-size;

  &__channel {
    border-top: $main-border;
    margin-top: 25px;
    padding-top: 15px;
  }

  &__channel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: $gray;
  }
}