.more-screen {
  .icon-row {
    flex-wrap: wrap;
    margin-top: 35px;

    &__icon {
      width: 33.3333%;
      margin-bottom: 30px;
    }
  }

  .more-suggestions {
    padding-top: 30px;
    border-top: $main-border;

    &__title {
      margin-bottom: 30px;
    }

    &__icons {
      display: flex;
    }

    &__icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 33.3333%;

      &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
        background-color: $yellow;
        border-radius: 15px;

        i {
          font-size: 30px;
          color: #fff;
        }
      }
      &-text {
        text-align: center;
      }
    }
  }
}