@keyframes notificationAnimation {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-5px) rotateY(180deg);
  }

  100% {
    transform: none;
  }
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;
    transform: none;
  }
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 10px;
  border-top: 1px solid rgba(121, 121, 121, 0.2);
  background-color: #f9f9f9;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &_item {
    transform: translateY(50px);
    opacity: 0;
    animation: appearBtnAnimation 0.3s ease-in-out forwards;
  }

  &_item:nth-child(2) {
    animation-delay: .4s;
  }

  &_item:nth-child(3) {
    animation-delay: .7s;
  }

  &_item:last-child {
    animation-delay: .9s;
  }

  &__link {
    display: block;
    padding: 20px 40px;
    color: #2e363e;

    i {
      position: relative;
    }
  }

  &__notification {
    position: absolute;
    top: -5px;
    right: -5px;
    animation: notificationAnimation 1.5s ease-in-out infinite;
  }

  &__new {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: tomato;
  }
}