.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 10px;
  border-top: 1px solid rgba(121, 121, 121, 0.2);
  background-color: #f9f9f9;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {

    display: block;
    padding: 20px 40px;
    color: #2e363e;

    i {
      position: relative;
    }
  }

  &__notification {
    position: absolute;
    top: -5px;
    right: -5px;
  }

  &__new {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: tomato;
  }
}