.welcome-header {
  display: flex;
  flex-direction: column;
  margin: 90px 0;
  text-align: center;
  align-items: center;
  font-weight: 500;

  &__title {
    font-size: 25px;
    margin-bottom: 30px;
  }

  &__text {
    width: 60%;
    line-height: 22px;
    color: #666;
  }
}